.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.c-details span {
  font-weight: 300;
  font-size: 13px;
}
.badge {
  background-color: $primary-color;
  width: 30px;
  height: 30px;
  padding-bottom: 3px;
  border-radius: 50%;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.progress {
  height: 10px;
  border-radius: 10px;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  display: flex;
  margin-left: auto;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 0.2rem;

  &:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: $primary-color;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.home {
  padding: 1rem;
}
